//@import "sprite"

//sprite($sprite)
//  background url(../img/sprite.png) no-repeat $sprite[2] $sprite[3]
//  width $sprite[4]
//  height $sprite[5]
//  text-indent -9999px
//  display inline-block
//  margin-right 5px
//  vertical-align middle
//
//.icon
//  &_gd01
//    sprite($sp_gd01)
//  &_gd02
//    sprite($sp_gd02)
//  &_gd03
//    sprite($sp_gd03)
//  &_gd04
//    sprite($sp_gd04)
//  &_gd05
//    sprite($sp_gd05)
//  &_gd06
//    sprite($sp_gd06)

.category_icon
  display inline-block
  background #072951
  padding 5px
  margin-left 15px
  margin-right 10px


