@import '_partial/base'
@import '_partial/icon'
@import '_partial/mixin'
@import '_partial/variables'
@import '_partial/utility'
@import '_partial/anime'
@import '_partial/skeleton'

*
  box-sizing border-box

/*skeleton 今のとこform位*/
form()
base()
typo()
button()
body,
ul
  text-align center
.tabInner
  width 340px
  margin auto
  border 1px solid #bbb
  border-radius 4px
  padding 20px
.button
  border-bottom 0px
  border-radius 4px 4px 0 0



.none
  display none
.block
  display block