doctype html
html(lang='ja')
    head
        title Tab
        meta(charset='UTF-8')
        link(rel='stylesheet', href='css/style.css')
        script(src='js/lib/bundle.min.js')
    body#app
        h1 Vue Components Sample
        ul
            li hoge1
            li hoge2
            li hoge3
        script(src='js/app.js')











