doctype html
html(lang='ja')
    head
        title Tab
        meta(charset='UTF-8')
        link(rel='stylesheet', href='css/style.css')
        script(src='js/lib/bundle.min.js')
    body#app
        h1 Tab
        ul.tabBlock
            li.button hoge1
            li.button hoge2
            li.button hoge3
        .tabInner
            p hoge1hoge1hoge1hoge1hoge1hoge1
            p hoge2hoge2hoge2hoge2hoge2hoge2
            p hoge3hoge3hoge3hoge3hoge3hoge3
        script(src='js/app.js')














